:root{
    font-size: 18px;
    font-family: 'Comic Neue', cursive;
}
html, body{
    /* background-image: url(../../assets/img/bg2.jpg); */
    background-color: #ffffff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}
.container{
    margin-top: 70px;
    /* border: 1px solid green; */
    border-radius: 10px;
    background-color: rgba(189, 189, 189, 0.8);
    width: 1000px;
    min-height: 400px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}

h2{
    color: #180102;
    font-size: 2rem;
    font-weight: 700;
    font-style: bolder;

}
form{
    color: rgb(230, 221, 221);
}
input{
    border: 1px solid rgb(177, 177, 177) ;
    border-radius: 6px;
    background-color: rgb(224, 224, 224);
    color: rgb(1, 20, 4);
}
button{
    background-color: #c2c0bf;
    color: rgb(3, 3, 2);
    transition: all 0.3s;
}
button:hover{
    transform: scale(1.1);
}

#res{
    color: #032e02;
    font-style: bolder;
}
